body {
	margin: 0;
	font-size: 23px;
}

section {
	padding: 0 20px;
	margin-bottom: 30px;
}

h1 {
	font-size: 1.8em;
	margin-bottom: 20px;
}

h2 {
	font-size: 1.6em;
	margin: 10px 10px 15px 0;
}

iframe {
	width: 100%;
	min-height: 1139px;
	max-height: 1139px;
}

svg {
	display: block;
	margin: auto;
}

.address {
	font-size: 2.3em;
}

.mama {
	text-align: center;
}

.mama-text {
	max-width: 700px;
	margin: 0 auto 25px auto;
	padding: 0 10px;
	font-size: 1.2em;
}

.mama-text-age {
	font-size: 35px;
}

.mama-photo {
	width: 87%;
	max-width: 500px;
}

.time {
	margin-bottom: 30px;
}

.time-number {
	margin-right: 40px;
	font-family: "Zen Kurenaido", sans-serif;
	font-size: 1.5em;
}

.time-list {
	list-style: none;
	padding-left: 0;
	max-width: 320px;
	margin: auto;
}

.time-text {
	padding-top: 6px;
	font-size: 1.3em;
	text-align: left;
}

.time-item {
	display: flex;
	align-items: center;
	line-height: 1;
	margin-bottom: 20px;
}

.location {
	margin-bottom: 50px;
}

.location-name {
	font-size: 1.3em;
	margin: 0;
}

.location-surname {
	font-size: 1.1em;
}


.link {
	display: block;
	max-width: 300px;
	padding: 22px;
	background: #000;
	color: #fff;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
	margin: auto;
}

.note {
	padding: 20px 20px 35px;
	background-color: #1b4e0f;
	color: #fff;
	font-size: 1.1em;
}

.note-text {
	max-width: 700px;
	margin: auto;
}

.note-bold {
	font-weight: 700;
	white-space: nowrap;
}

.chat-text {
	max-width: 700px;
	margin: 0 auto 30px;
	font-size: 1.2em;
}

.anketa {
	font-size: 1.2em;
	max-width: 450px;
	margin: 0 auto 20px;
}

.anketa-title {
	font-size: 38px;
}

@media (min-width: 770px) {
	iframe {
		min-height: 870px;
	}

	.mama-text {
		margin-bottom: 40px;
	}

	.mama-photo {
		margin-bottom: 20px;
	}

	.note {
		padding: 25px 25px 40px 25px;
		margin-bottom: 35px;
	}

}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.zen-kurenaido-regular {
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ysabeau-infant {
  font-family: "Ysabeau Infant", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
