body {
	margin: 0;
}

section {
	padding: 0 20px;
	margin-bottom: 30px;
}

.mama {
	text-align: center;
}

.mama-text {
	max-width: 700px;
	margin: 0 auto 25px auto;
	padding: 0 10px;
	font-size: 28px;
}

.mama-text-age {
	font-size: 35px;
}

.anketa {
	font-size: 30px;
	max-width: 450px;
	margin: 0 auto 20px;
}

.anketa-title {
	font-size: 38px;
}

.mama-photo {
	width: 87%;
	max-width: 500px;
}

iframe {
	width: 100%;
	min-height: 1139px;
	max-height: 1139px;
}

.time {
	margin-bottom: 30px;
}

.time-number {
	margin-right: 40px;
	font-family: "Zen Kurenaido", sans-serif;
	font-size: 30px;
}

.time-list {
	list-style: none;
	padding-left: 0;
	max-width: 320px;
	margin: auto;
}

.time-text {
	padding-top: 6px;
	font-size: 23px;
	text-align: left;
}

.time-item {
	display: flex;
	align-items: center;
	line-height: 1;
	margin-bottom: 20px;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
}

.zen-kurenaido-regular {
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ysabeau-infant {
  font-family: "Ysabeau Infant", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h2 {
	font-size: 32px;
	margin: 10px;
}

.note {
	padding: 20px 20px 35px;
	background-color: #1b4e0f;
	color: #fff;
	font-size: 24px;
}

.note-text {
	max-width: 700px;
	margin: auto;
}

.note-bold {
	font-weight: 700;
}

.location {
	margin-bottom: 50px;
}

.link {
	display: block;
	max-width: 300px;
	padding: 22px;
	background: #000;
	color: #fff;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	margin: auto;
}

.location-name {
	font-size: 24px;
	margin: 0;
}

.location-surname {
	font-size: 20px;
}

.chat-text {
	max-width: 700px;
	margin: 0 auto 20px;
	font-size: 22px;
  padding: 0 20px;
}

svg {
	display: block;
	margin: auto;
}

@media (min-width: 770px) {
	iframe {
		min-height: 870px;
	}

	.mama-text {
		margin-bottom: 40px;
	}

	.mama-photo {
		margin-bottom: 20px;
	}

	.note {
		padding: 25px 25px 40px 25px;
		margin-bottom: 35px;
	}

}